
<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h1>Company Dashboard</h1>
                <h2>
                    {{company.name}} details
                </h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            Email : {{company.email}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            Phone Number : {{company.phoneno}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button  class="btn btn-primary" (click)="logout()">Logout</button>
        </div>
    </div>
    
</div>