
<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                {{user.name}} details
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            Email : {{user.email}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            Phone Number : {{user.phoneno}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button  class="btn btn-primary" (click)="logout()">Logout</button>
        </div>
    </div>
    
</div>